# ---- Aplicacion ----
APP_NAME=ms-pagos
APP_PORT=8002
SPRING_PROFILES_ACTIVE=dev

# ---- Base de datos PostgreSQL ----
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=condominio_pagos
POSTGRES_USER=
POSTGRES_PASSWORD=

# Cadena JDBC completa (opcional)
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/condominio_pagos
